<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="HotelApp">
	<!-- 1. Hotel_App_AutoTestCase 酒店首页 -->
	<test name="HotelHomePage">
		<classes>
			<class name="test.apptest.hotel.FavoriteHotels" />
			<class name="test.apptest.hotel.SelectFavoriteCity" />
	
		</classes>
	</test>

	<!-- 2. Hotel_App_AutoTestCase 酒店列表页 -->
	<test name="HotelListPage">

	</test>

	<!-- 3. Hotel_App_AutoTestCase 酒店详情页 -->
	<test name="HotelDetailPage">

	</test>
	
	<!-- 4. Hotel_App_AutoTestCase 酒店订单填写页 -->
	<test name="HotelOrderPage">

	</test>

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="com.web.utils.TestLinster"></listener>
	</listeners>

</suite> 
